.gradle/
.idea/
.log/
build/
target/
*.iml
*.log
classes/*
*.ipr
*.ids
*.iws
publish
.classpath
.project
.settings
application.pid
bin/
out/
pom.xml
log/
keytmp/
src/main/resources/application-local.properties
src/main/resources/static/
run/
dist-deploy/
run_backup/
.apt_generated/
.factorypath
~$*
uploadTestTemp/


devlog/
.DS_Store
.ideaDataSources

dataSources/




