<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasun.management.mapper.FmMemberMapper">
    <resultMap id="BaseResultMap" type="com.seasun.management.model.FmMember">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="plat_id" jdbcType="BIGINT" property="platId"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="fixed_flag" jdbcType="BIT" property="fixedFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, plat_id, project_id, fixed_flag
  </sql>
    <insert id="insertSelective" parameterType="com.seasun.management.model.FmMember">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into fm_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="platId != null">
                plat_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="fixedFlag != null">
                fixed_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="platId != null">
                #{platId,jdbcType=BIGINT},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="fixedFlag != null">
                #{fixedFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.seasun.management.model.FmMember">
        update fm_member
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="platId != null">
                plat_id = #{platId,jdbcType=BIGINT},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="fixedFlag != null">
                fixed_flag = #{fixedFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- the following are user defined...-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into fm_member
        (user_id, plat_id, project_id, fixed_flag)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userId},
            #{item.platId},
            #{item.projectId},
            #{item.fixedFlag}
            )
        </foreach>
    </insert>

    <select id="selectPlatIdsByUserId" parameterType="java.util.List" resultType="java.lang.Long">
        SELECT plat_id FROM fm_member
        <if test="list != null">
            WHERE user_id IN
            <foreach collection="list" item="item" open="(" index="index" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>