<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasun.management.mapper.UserGradeChangeMapper">
  <resultMap id="BaseResultMap" type="com.seasun.management.model.UserGradeChange">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="old_grade" jdbcType="VARCHAR" property="oldGrade" />
    <result column="old_evaluate_type" jdbcType="VARCHAR" property="oldEvaluateType" />
    <result column="new_grade" jdbcType="VARCHAR" property="newGrade" />
    <result column="new_evaluate_type" jdbcType="VARCHAR" property="newEvaluateType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="DATE" property="createTime" />

  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, year, month, old_grade, old_evaluate_type, new_grade, new_evaluate_type,
    status, create_time
  </sql>
  <insert id="insertSelective" parameterType="com.seasun.management.model.UserGradeChange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_grade_change
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="oldGrade != null">
        old_grade,
      </if>
      <if test="oldEvaluateType != null">
        old_evaluate_type,
      </if>
      <if test="newGrade != null">
        new_grade,
      </if>
      <if test="newEvaluateType != null">
        new_evaluate_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="oldGrade != null">
        #{oldGrade,jdbcType=VARCHAR},
      </if>
      <if test="oldEvaluateType != null">
        #{oldEvaluateType,jdbcType=VARCHAR},
      </if>
      <if test="newGrade != null">
        #{newGrade,jdbcType=VARCHAR},
      </if>
      <if test="newEvaluateType != null">
        #{newEvaluateType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seasun.management.model.UserGradeChange">
    update user_grade_change
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="oldGrade != null">
        old_grade = #{oldGrade,jdbcType=VARCHAR},
      </if>
      <if test="oldEvaluateType != null">
        old_evaluate_type = #{oldEvaluateType,jdbcType=VARCHAR},
      </if>
      <if test="newGrade != null">
        new_grade = #{newGrade,jdbcType=VARCHAR},
      </if>
      <if test="newEvaluateType != null">
        new_evaluate_type = #{newEvaluateType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- the following are user defined...-->

</mapper>