<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasun.management.mapper.dataCenter.VDWChargeLogMapper">
  <resultMap id="BaseResultMap" type="com.seasun.management.model.dataCenter.VDWChargeLog">
    <result column="GAME_CODE" jdbcType="VARCHAR" property="gameCode" />
    <result column="IID" jdbcType="DECIMAL" property="iid" />
    <result column="FILL_DATETIME" jdbcType="TIMESTAMP" property="fillDatetime" />
    <result column="CARD_TYPE" jdbcType="DECIMAL" property="cardType" />
    <result column="CARD_AMOUNT" jdbcType="DECIMAL" property="cardAmount" />
    <result column="FILL_TYPE" jdbcType="DECIMAL" property="fillType" />
    <result column="GAMEUID" jdbcType="VARCHAR" property="gameuid" />
    <result column="GATEWAY" jdbcType="VARCHAR" property="gateway" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.seasun.management.model.dataCenter.VDWChargeLog">
    insert into KBOSS20.V_DW_CHARGE_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameCode != null">
        GAME_CODE,
      </if>
      <if test="iid != null">
        IID,
      </if>
      <if test="fillDatetime != null">
        FILL_DATETIME,
      </if>
      <if test="cardType != null">
        CARD_TYPE,
      </if>
      <if test="cardAmount != null">
        CARD_AMOUNT,
      </if>
      <if test="fillType != null">
        FILL_TYPE,
      </if>
      <if test="gameuid != null">
        GAMEUID,
      </if>
      <if test="gateway != null">
        GATEWAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameCode != null">
        #{gameCode,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        #{iid,jdbcType=DECIMAL},
      </if>
      <if test="fillDatetime != null">
        #{fillDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=DECIMAL},
      </if>
      <if test="cardAmount != null">
        #{cardAmount,jdbcType=DECIMAL},
      </if>
      <if test="fillType != null">
        #{fillType,jdbcType=DECIMAL},
      </if>
      <if test="gameuid != null">
        #{gameuid,jdbcType=VARCHAR},
      </if>
      <if test="gateway != null">
        #{gateway,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>